.container{
 display: flex;
 align-items: center;
 justify-content: center;
}
 
.box{
 width: 60px;
 height:60px;
 background-color:tomato;
 color: white;
 text-align: center;
 justify-content: center;
 margin: 5px;
}
h3{
 color: blue;
}
#box3{
 background-color: red;
}
#box1{
 background-color: orange;
}
#box2{
 background-color: green;
}


