/* body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 20px;
}
/* heading styles */
h1 {
    color: black;
    margin-bottom: 10px; 
}